*/NielsReijers-single-page.aux
*/NielsReijers-single-page.bcf
*/NielsReijers-single-page.dvi
*/NielsReijers-single-page.log
*/NielsReijers-single-page.out
*/NielsReijers-single-page.pdf
*/NielsReijers-single-page.run.xml
*/NielsReijers-single-page.synctex.gz
*/NielsReijers-longer-version.aux
*/NielsReijers-longer-version.bcf
*/NielsReijers-longer-version.dvi
*/NielsReijers-longer-version.log
*/NielsReijers-longer-version.out
*/NielsReijers-longer-version.pdf
*/NielsReijers-longer-version.run.xml
*/NielsReijers-longer-version.synctex.gz
*/page1sidebar.log
